#about-me {
    /* max-width: 700px; */
    max-width: 48rem;
  }
  
  #about-me-top {
    /* outline: 1px solid green; */
    display: flex;
  }
  
  #about-me-img-container {
    width: 80%;
    margin: 1rem;
  }
  
  #about-me-img {
    /* outline: 1px solid blue; */
    width: 100%;
    border-radius: 50%;
  }

  #byline-container-about {
    display: flex;
    align-items: center;
    width: 90%;
  }

  #byline-about {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
  }
  
  #email {
    color: var(--text-color);
  }