#case-studies {
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
}

#case-studies > p {
    font: raleway;
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0;
}

#app-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    color: #531DAB;

}

.case-font {
    font: raleway;
    font-size: 1.2rem;
}

.case-font-gray {
    color: #8C8C8C;
}

.case-section-font {
    font: raleway;
    font-size: 1.3rem;
    font-weight: 700;
}