.case-studies {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    /* outline: 1px solid red; */
    --text-color: #595959;
    --text-color-darker: #262626;
}

.app-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    color: #531DAB;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: 600;
}

.case-font, .darker-text, li {
    font: raleway;
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0;
}

.darker-text {
    color: var(--text-color-darker);
}

.case-font-gray {
    color: #8C8C8C;
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.case-section-font {
    font: raleway;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 2.5rem;
}

.alpha-list {
    list-style-type: lower-alpha;
}

.app-screen-container {
    /* border: 1px solid blue; */
    margin: 1rem 0;
    width: 100%;
}

.app-screen {
    width: 35%;
    margin-right: 1rem;
}

.full-img {
    width: 100%;
    margin-top: 1rem;
    outline: 1px solid red;
}

.down-arrow {
    width: 5rem;
    margin: 2rem auto;
}

.blue-section {
    background: #F0F5FF;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.blue-list {
    background: #F0F5FF;
    width: 60%;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.blue-list > li {
    margin: 0 2rem;
}

.text-and-img {
    display: flex;
}

.face {
    width: 20%;
    border-radius: 50%;
}

.paper-img-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.paper-img {
    width: 20%;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.app-screen-2 {
    width: 35%;
    margin: 1rem 0;
}

.app-screen-3 {
    width: 35%;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.app-screen-4 {
    width: 42.5%;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

/* ACTIVITY TRACKER APP */

#app-title-2 {
    color: #f4511e;
}

.third-img {
    width: 33%;
    margin-top: 1rem;
}

.half-img {
    width: 50%;
    margin-top: 1rem;
}

.two-thirds-img {
    width: 66%;
    margin-top: 1rem;
}

/* MEALVENTORY APP */

#app-title-3 {
    color: #096dd9;
}

.app-screen-5 {
    width: 30%;
    margin-right: 1rem;
}

.app-screen-6 {
    width: 45%;
    margin-right: 1rem;
}

.fifty-percent {
    width: 50%;
}

.fifty-pad {
    width: 50%;
    padding-right: 1rem;
}

.text-and-img-2 {
    display: flex;
    flex-direction: column;
}

.ninety {
    width: 90%;
    margin-top: 1rem;
}

.app-screen-container-2 {
    /* border: 1px solid blue; */
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    width: 100%;
}

.text-align-center {
    display: flex;
    align-items: center;
}

.colored-squares {
    width: 4rem;
    margin-right: 1rem;
}

.colored-square-names {
    text-decoration: underline;
}

.right-margin {
    margin-right: 5rem;
}