#projects {
    display: flex;
    justify-content: flex-start;
    max-width: 48rem;
  }
  
  #project-section {
    /* max-width: 95%; */
  }

  #highlight {
    background: #fffb8f;
  }
  
  #project-section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    color: gray;
  }
  
  .project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    /* background: gainsboro; */
  }
  
  .project-info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .project-images {
    display: flex;
    width: 50%;
    margin-right: 2rem;
  }
  
  .project-arrow {
    display: flex;
    justify-content: flex-end;
  }

  .app-img {
    width: 50%;
    margin-right: 1rem;
  }
  
  .project-text-container {
    margin-top: 4rem;
  }
  
  .project-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.56rem;
    font-weight: 700;
  }
  
  .fa-arrow-right {
    color: darkturquoise;
    font-size: 1.75rem;
  }