#projects {
    display: flex;
    justify-content: flex-start;
    /* max-width: 48rem; */
    width: 100%;
  }
  
  #highlight {
    background: #B5F5EC;
  }

  #highlight-2 {
    background: #13C2C2;
  }
  
  #project-section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--grey1);
    margin-top: 4rem;
  }
  
  .project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .project-info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .project-images {
    display: flex;
    width: 50%;
    margin-right: 2rem;
  }
  
  .project-arrow {
    display: flex;
    justify-content: flex-end;
  }

  .app-img {
    width: 50%;
    margin-right: 1rem;
  }
  
  .project-text-container {
    margin-top: 4rem;
  }
  
  .project-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.56rem;
    font-weight: 700;
  }

  .project-role {
    font-size: 1.25rem;
    color: var(--grey2);
  }
  
  .fa-arrow-right {
    color: var(--green2);
    font-size: 1.75rem;
  }