#sidebar {
    /* margin-top: 1rem; */
  }
  
  #sidebar-top > a, #sidebar-bottom > a {
    text-decoration: none;
  }
  
  .side-menu-item {
    /* outline: 1px solid red; */
    margin: .25rem;
  }
  
  .side-menu-item:hover {
    color: darkturquoise;
  }
  
  #sidebar-bottom {
    display: none;
  }

  .side-spacer {
    margin-right: 1.5rem;
  }
  
  @media (min-width: 768px) {
    #sidebar {
      margin-right: 2rem;
      position: sticky;
      top: 0rem;
      height: 80vh;
      margin-top: 2.5rem;
    }
    
    .side-menu-item {
      text-align: right;
      color: gray;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      transition-duration: 1s;
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
    }

    .hyper {
      margin: .25rem;
    }
  
    .activeMenu {
      margin: .25rem;
      color: darkturquoise;
    }

    .inactiveMenu {
      margin: .25rem;
      color: gray;
    }

    .active {
      width: 1rem;
      margin-bottom: .5rem;
      background-image: url(../img/dot-active.svg);
      background-repeat: no-repeat;
      background-position: 50% 85%;
      padding-top: 1rem;
    }

    .inactive {
      width: 1rem;
      margin-bottom: .5rem;
      background-image: url(../img/dot-inactive.svg);
      background-repeat: no-repeat;
      background-position: 50% 85%;
      padding-top: 1rem;
    }

    #sidebar-bottom {
      display: block;
      position: absolute;
      bottom: 2rem;
      width: 100%;
    }
  
    #sidebar-bottom-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    #sidebar-bottom-button-container > p {
      margin-right: .25rem;
      margin-left: .5rem;
      color: gray;
      font-size: 1.25rem;
      transition-duration: 1s;
    }
  
    #sidebar-bottom-button-container > p:hover {
      color: darkturquoise;
    }
  
    .side-menu-arrow {
      border: 1px solid var(--text-color);
      border-radius: 50%;
      padding: .5rem;
      transition-duration: 1s;
    }
  
    .side-menu-arrow:hover {
      border: 1px solid darkturquoise;
    }
  }
  