.App {
  margin-bottom: 0;
}

.header {
  grid-area: hd;
  margin-left: 1rem;
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
  margin-left: 1rem;
  /* background: pink; */
}
.sidebar {
  grid-area: sd;
}

.wrapper {
  max-width: 910px;
  display: grid;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "hd hd sd"
    "main main main"
    "ft ft ft";
}

@media (min-width: 768px) {
  .wrapper {
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: 
        ".  .  hd   hd   hd   hd   hd   hd   hd"
        "sd sd main main main main main main main"
        "sd sd ft   ft   ft   ft   ft   ft   ft";
  }

  .header, .content {
      margin-left: 0;
  }
}

* {box-sizing: border-box;}

.wrapper {
  /* border: 2px solid red; */
  margin: 0 auto;
}

.wrapper > div {
  /* outline: 1px solid orange; */
  /* padding: 1em; */
  /* margin: .25rem; */
}
