.App {
  border: 1px solid red;
  display: flex;
}

#split {
  border: 1px solid orange;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-menu-item {
  text-align: right;
  color: gray;
  font-size: 1.25rem;
}