body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */

#header {
  display: flex;
  justify-content: center;
}

#logo-container {
  border: 1px solid red;
  width: 12rem;
}

#logo {
  border: 1px solid orange;
  width: 100%;
}

/* PROJECTS */

#projects {
  display: flex;
  justify-content: center;
}

#project-section {
  border: 1px solid red;
  width: 55%;
}

#byline-container {
  /* width: 50%; */
}

#byline {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
}

#highlight {
  background: #fffb8f;
}

#project-section-title {
  font-family: 'Playfair Display', serif;
  color: gray;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.project-info {
  display: flex;
}

.project-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.project-text-container {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.right-arrow {
  border: 1px solid red;
  color: darkturquoise;
  width: 2rem;
}

/* 
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;


<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');
</style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap" rel="stylesheet"> */