:root {
  --text-color: #595959;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBAL */

.text-content {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  line-height: 1.75;
  color: var(--text-color);
}

.text-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

#byline-container {
  /* width: 50%; */
}

#byline {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  color: var(--text-color);
}

/* HEADER */

#header {
  /* outline: 1px solid purple; */
  display: flex;
  width: 100%;
  /* justify-content: center; */
}

#logo-container {
  /* border: 1px solid red; */
  width: 87.5%;
}

#logo {
  /* border: 1px solid orange; */
  width: 100%;
}

@media (min-width: 768px) {
  #logo-container {
    width: 57.5%;
  }
}

/* SIDEBAR */

#sidebar {
  margin-top: 2rem;
  outline: 1px solid red;
}

#sidebar-top > a, #sidebar-bottom > a {
  text-decoration: none;
}

.side-menu-item {
  /* outline: 1px solid red; */
  margin: .25rem;
}

.side-menu-item:hover {
  color: darkturquoise;
}

#sidebar-bottom {
  display: none;
}

@media (min-width: 768px) {
  #sidebar {
    margin-right: 2rem;
    position: sticky;
    top: 2rem;
    height: 100vh;
  }
  
  .side-menu-item {
    text-align: right;
    color: gray;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    transition-duration: 1s;
  }

  #sidebar-bottom {
    outline: 1px solid red;
    display: block;
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }

  #sidebar-bottom-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #sidebar-bottom-button-container > p {
    margin-right: .25rem;
    margin-left: .5rem;
    color: gray;
    font-size: 1.25rem;
    transition-duration: 1s;
  }

  #sidebar-bottom-button-container > p:hover {
    color: darkturquoise;
  }

  .side-menu-arrow {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: .5rem;
    transition-duration: 1s;
  }

  .side-menu-arrow:hover {
    border: 1px solid darkturquoise;
  }
}

/* PROJECTS */

#projects {
  display: flex;
  justify-content: flex-start;
  /* background: pink; */
}

#project-section {
  /* border: 1px solid red; */
  max-width: 95%;
}

#highlight {
  background: #fffb8f;
}

#project-section-title {
  font-family: 'Playfair Display', serif;
  color: gray;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  /* background: gainsboro; */
}

.project-info {
  /* border: 1px solid orange; */
  display: flex;
  width: 90%;
}

.project-images {
  /* border: 1px solid red; */
  width: 70%;
}

.app-img {
  width: 50%;
}

.project-text-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.project-title {
  /* border: 1px solid purple; */
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.fa-arrow-right {
  /* border: 1px solid red; */
  color: darkturquoise;
  font-size: 1.75rem;
}

/* ABOUT ME */

#about-me {
  /* max-width: 700px; */
}

#about-me-top {
  outline: 1px solid green;
  display: flex;
}

#about-me-img-container {
  outline: 1px solid red;
  width: 150%;
  margin: 1rem;
}

#about-me-img {
  outline: 1px solid blue;
  width: 100%;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.75rem;
  background: #3a3a3a;
  color: white;
}

/* 
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;


<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');
</style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap" rel="stylesheet"> */